.Navigation {
    background-color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 1rem;
    list-style: none;
}

.nav-link {
    color: #333;
    text-decoration: none;
}

.navbar-brand {
    margin-right: 1rem;
}

.nav-link.active {
    font-weight: bold;
    color: black;
}